p { 
    font-size: 16px; }
    * { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.yunseok{
    height: 400px;
    width: 380px;
    padding: 50px 60px;
    background-color: #ebebeb;
    color: #111;
    font-family: "Lato";
    line-height: 24px;
    border-radius: 5px;
}